rt-board{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    row-gap: 15px;
    column-gap: 5px;
    align-items: start;
    user-select: none;
}

[hidden]{
    visibility: hidden;
}

#placepile{
    justify-self: start;
    grid-column: span 2;
}

#placepile play-card{
    margin-inline-start : calc(var(--card-with) * -1) ;
}

rt-board #placepile play-card:first-child{
    margin-inline-start : 0 ;
}

#placepile play-card:nth-last-child(2),#placepile play-card:last-child{
    margin-inline-start : calc(var(--card-with) * -1 * 0.8) ;
}

.solitairefield {
    grid-row: 2;
}

#dragdiv{
    min-height: 0;
    border: 0;
    z-index: 10;
    position: absolute;
    pointer-events: none;
    touch-action: none;
}

#dragdiv rt-card{
    pointer-events: none;
}