options-menu{
    visibility: hidden;
    position: absolute;
    left: 0;
    background-color: #020202bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    right: 0;
    bottom: 0;
    top: 0;
    padding-block-start: 10vh;
}

options-menu[visible]{
    visibility: visible;
}

options-menu > .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
}

options-menu > *{
    padding : 20px;
    width: 33vw;
    background-color: rgb(145 121 121);
}

options-menu > *:first-child{
    border-radius: 5px 5px 0 0;
}

options-menu > *:last-child{
    border-radius: 0 0 5px 5px;
}

options-menu input[type="button"]{
    padding: 1em;
    border-radius: 5px;
    border : 1px solid rgb(22, 255, 14);
    color: #fff;
    background-color: rgb(52, 148, 8);

}

options-menu input[type="button"]:hover{
    border : 1px solid  rgb(52, 148, 8);
    color: #fff;
    background-color:rgb(24, 197, 19);

}