body{
    background-color: rgb(56, 161, 23);
    color: white;
}

#steve{
    max-width: 980px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

span{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
}

span *{
    margin-inline: 3px;
}

fieldset{
    border-radius: 5px;
    display: flex;
    margin-block-start: calc(var(--card-height) /2);
    border-color: #81df1b;
    border-width: 0px;
    border-style: solid;
    flex-direction: column;
    align-items: center;
    grid-row: span 2;
    text-align: center;
}

button{
    border-radius: 5px;
    border: 1px solid #fff;
    color: #ffffff;
    width: 3rem;
    height: 3rem;
    background: #88b127;
}
button:hover{
    background-color: #bbeb4b;
}

button:active{
    background-color: #6b940c;
}  