:root{
    --cardGap: 3vw;
}
rt-board{
    display: grid;
    grid-template-columns: repeat(7,var(--card-with));
    grid-template-rows: repeat(2,var(--card-height)) 1fr;
    column-gap: 10px;
    row-gap: 10px;
    font-size: 14px;
    justify-content: center;
}

rt-board fieldset{
    border-radius: 5px;
    border-color: #81df1b;
    border-width: 1px;
    border-style: solid;
}

rt-board button{
    font-size: 12px;
    border-radius: 1px;
    border: 1px solid #fff;
    color: #ffffff;
    background: #88b127;
}

solitaire-field{
    border: 2px solid rgb(65, 46, 46);
    min-height: var(--card-height);
    display: grid;
    grid: 1fr/1fr;
    grid-row: 2;
}

#dragdiv{
    min-height: 0;
    border: 0;
    position: absolute;
    pointer-events: none;
    touch-action: none;
}

#dragdiv rt-card{
    pointer-events: none;
}

solitaire-field rt-card{
    grid-area: 1/1;
}

foundation-pile rt-card{
    position: absolute;
}

rt-board #selected img{
    box-shadow: 0 0 8px 3px rgb(217 186 186);
    
}



solitaire-field rt-card:nth-of-type(2){
    top: var(--cardGap);
}

solitaire-field rt-card:nth-of-type(3){
    top: calc(2*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(4){
    top: calc(3*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(5){
    top: calc(4*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(6){
    top: calc(5*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(7){
    top: calc(6*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(8){
    top: calc(7*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(9){
    top: calc(8*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(10){
    top: calc(9*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(11){
    top: calc(10*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(12){
    top: calc(11*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(13){
    top: calc(12*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(14){
    top: calc(13*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(15){
    top: calc(14*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(16){
    top: calc(15*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(17){
    top: calc(16*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(18){
    top: calc(17*var(--cardGap));
}

solitaire-field rt-card:nth-of-type(19){
    top: calc(18*var(--cardGap));
}
