rt-deck{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2,var(--card-with));    
    grid-template-rows: var(--card-height);
    column-gap: 10px;
}

rt-deck rt-card{
    position: absolute;
}
